<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/add.css') }}" rel="stylesheet">

</head>
<body>
    <header>
        {%if source== "wishlist"%}
            <h1> Add to Wishlist</h1>
        {% endif %}

        {% if source== "watched"%}
            <h1>Add Movies</h1>
        {%endif%}
</header>
<main>
<form method="post">
    <div class="input-form">
    <input type="text" name="m_name" required>
    <label>Movie name</label>
</div>
<div class="input-form">
    <input type="text" name="m_rating">
    <label> Rating</label>
</div>
<div class="input-form">
    <input type="text" name="m_review"> <label>Review</label>
</div>
<div class="input-form">
    <input type="text" name="m_genre"> <label>Genre</label>
</div>
<div class="input-form">
    <input type="text" name="m_img"> <label>Url for image</label>
</div>
<button type="submit">Add</button>
</form>
</main>
</body>
</html>