<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/home.css')}}" rel="stylesheet">
</head>
<body>

    <nav>
        <ul>
            <li class="home"><a href="" >Home</a></li>
            <li class="watchlist"><a href="{{url_for('watchlist')}}">Watched</a></li>
            <li class="wishlist"><a href="{{ url_for('wishlist')}}">Watchlist</a></li>
            <li class="logout"><a href="{{url_for('log_out')}}">log-out <svg xmlns="http://www.w3.org/2000/svg" fill="none" 
                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="door">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 
                2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
              </svg></a>
                             
            </li>
            <ul>
    </nav>

    <main>
        <div class="slider"  style="--quantity: 6">
            <div class="img" style="--position: 1"><img src="{{ url_for('static', filename='images/panther.png')}}"></div>
            <div class="img" style="--position: 2"><img src="{{ url_for('static', filename='images/tangled.png') }}"></div>
            <div class="img" style="--position: 3"><img src="{{ url_for('static', filename='images/marvel.png') }}"></div>
            <div class="img" style="--position: 4"><img src="{{ url_for('static', filename='images/avatar.png') }}"></div>
            <div class="img" style="--position: 5"><img src="{{ url_for('static', filename='images/hogwards.png') }}"></div>
            <div class="img" style="--position: 6"><img src="{{ url_for('static', filename='images/cindrella.png') }}"></div>
        </div>
        <img src="{{ url_for('static', filename='images/gwen.png') }}" class="wand">
        <section class="section one">
            <h1> Movie</h1> <h1 style="color:rgb(101, 5, 171);">Journal</h1>
            <p>Keep track of all the movies you've watched and easily add the ones you want to watch next.</p>
        </section>
        <section class="section two">
            <h1 style="color:rgb(101, 5, 171)"> Stay</h1> <h1>Organized</h1>
            <p>Never forget a great movie idea again</p>
        </section>
    </main>
</body>
</html>